<!-- index.html -->
<!DOCTYPE html>
<html>

<head>
  <title>My First Map</title>
</head>
<body>
<h1>{{title}}</h1>
<p>Welcome to</p>
  <h3>My First Map</h3>
  <div id="map"></div>
<a href="add-location"><button class="btn">Add location!</button></a>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBl4-KohgjS2KFG7FZNT21QZZiDeUkioMc"></script>
  <script type="text/javascript" src="/javascripts/main.js"></script>
</body>

</html>